<script type="text/javascript">
    $(document).ready(function() {
        $(document).scrollTop( $("#headingOne").offset().top - 50);  
        var select = $("#tipo-sala");
        var selectTurma = $("#tipo-sala-turma");
        for (i=1;i<=100;i++){
            select.append($('<option></option>').val(i).html(i))
        }
        for (i=1;i<=100;i++){
            selectTurma.append($('<option></option>').val(i).html(i))
        }
    });
</script>
<div class="container">

    <div class="jumbotron">
        <h4>Bem vindo {{ name }}, como utilizar?</h1>
        <p class="">Este é um portal dedicado a utilização do software de Alocação de Salas, desenvolvido pelo LCC. Através desta página web você poderá fazer o cadastramento das salas e das turmas, de acordo com os campos propostos nessa página e posteriormente solicitar a solução do problema de alocação feita por um software em nossos servidores, como a alocação pode variar com o tamanho do arquivo a resposta não é disponibilizada na hora, mas enviaremos por email assim que o resultado for definido.</p>
        <hr class="">
        <p>Para encerrar a sessão clique no botão abaixo</p>
        <!--<a href="" class="btn btn-primary"> Configuração</a>
        <a href="" class="btn btn-primary"> Contato</a>-->
        <a href="/logout" class="btn btn-danger">Logout</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContact">Contato
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Laboratório de Computação Científica</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Este projeto foi desenvolvido pela equipe do Laboratório de Computação Científica do Centro de Ciências, Tecnologias e Saúde com sede em Araranguá - Santa Catarina;<br><br>
            Para entrar em contato envie sua dúvida para: <b>lcc.ufsc@gmail.com</b>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <!--<button type="button" class="btn btn-primary">Visitar</button>-->
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionExample">
        {{!-- Card das salas --}}
        <div class="card" autofocus>
            <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 id="cad-sala"class="myColorHeader">Cadastro de salas</h4>
                </button>
            </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form action="/cadastro-sala" method="post">
                    <p class="mb-5"> Para realizar o cadastro de salas é necessário possuir ao menos três informações sobre ela, o NOME representado pelo campo descrição que não possui restrição, a CAPACIDADE deverá ser um numeral positivo e o TIPO DE SALA a característica da mesma. Mais opções de cadastro são disponibilizadas caso seja necessário alterar os fatores da sala, deixe em branco se estiver em dúvida qual seria o fator. Caso contrário preencha com números referentes ao fator do horário sobre a sala.</p>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="input-sala-id">Descrição</label>
                            <input type="text" class="form-control" id="sala-desc" name="descSala" placeholder="CTS-SL104A" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="input-sala-capac">Capacidade</label>
                            <input type="number" class="form-control" min="0" max="1000" placeholder="Ex: 50" id="sala-capac" name="capcSala" oninput="this.value = Math.abs(this.value)"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="tipo-sala">Tipo de sala</label>
                            <select id="tipo-sala" class="form-control" name="tipoSala" required>
                                <option value="" selected disabled hidden>Escolha um tipo</option>
                            </select>
                        </div>

                        <p>
                            <div class="form-group col-md-2 align-self-end">
                                <button class="btn btn-primary col-md-12" type="button" data-toggle="collapse" data-target="#advancedOptions"
                                    aria-expanded="false" aria-controls="advancedOptions">
                                    + Opções
                                </button>
                            </div>
                        </p>
                        <div class="form-row col-md-12 collapse" id="advancedOptions">
                            <div class="form-group col-md-4">
                                <label for="fator1">Turno Manhã</label>
                                <input type="number" class="form-control" name="fator1" id="fator1" min="0" max="1000" placeholder="Ex: 1" oninput="this.value = Math.abs(this.value)">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fator2">Turno Tarde</label>
                                <input type="number" class="form-control" name="fator2" id="fator2" min="0" max="1000" placeholder="Ex: 3" oninput="this.value = Math.abs(this.value)">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fator3">Turno Noite</label>
                                <input type="number" class="form-control" name="fator3" id="fator3" min="0" max="1000" placeholder="Ex: 5" oninput="this.value = Math.abs(this.value)">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Cadastrar Sala</button>
                    <a href="/attRoom" class="btn btn-warning" >Atualizar Salas</a>
                    {{#if msg_sala}}
                        <div class="alert alert-success mt-3" id="alert" role="alert">
                            {{msg_sala}}
                        </div>  
                    {{/if}}
                    {{#if msg_sala_erro}}
                        <div class="alert alert-danger mt-3" id="alert" role="alert">
                            {{msg_sala_erro}}
                        </div>  
                    {{/if}}
                </form>
                {{#if msg_erro}}
                    <div class="alert alert-danger" id="alert" role="alert">
                        {{msg_erro}}
                    </div>
                {{/if}}
                {{#if msg_success}}
                    <div class="alert alert-success" id="alert" role="alert">
                        {{msg_success}}
                    </div>
                {{/if}}
            </div>
            </div>
        </div>

        {{!-- Card das disciplinas --}}
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="myColorHeader">Cadastro de turmas</h4>
                </button>
            </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                 <p class="mb-5">  Para realizar o cadastro de matérias todas as opções abaixo devem serem preenchidas. O campo DISCIPLINA não possui restrição e deverá conter o nome da mesma, a TURMA deve conter um identificador único, OFERTA e DEMANDA devem ser números inteiros e positivos, as opções de dias podem ser uma ou mais de uma clicando no botão novo campo e preenchendo DIA, HORÁRIO, CRÉDITOS (número inteiro e positivo) e ESTILO DE SALA. Caso não precise de todos os campos de horário basta removê-los no botão ao lado.<br><br><b>ATENÇÃO!! SE PRECISAR REMOVER UM HORÁRIO, REMOVA TODA A LINHA DE HORÁRIO ANTES DE CADASTRAR CASO CONTRÁRIO IRÁ GERAR ERRO EM SUA SOLUÇÃO DE ENSALAMENTO!!</b></p>
                <form action="/cadastro-turma" method="post">
                    <div class="form-row" id="wrapper-turma">
                        <div class="form-group col-md-4">
                            <label for="disciplina">Disciplina</label>
                            <input type="text" class="form-control" id="disciplina-id" name="disciplina" placeholder="CIT7122" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fase">Turma</label>
                            <input type="text" class="form-control" id="fase-id" name="fase" placeholder="CIT7122-09655" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="oferta">Oferta</label>
                            <input type="number" class="form-control" placeholder="Ex: 50" min="0" id="oferta-id" name="oferta" oninput="this.value = Math.abs(this.value)"
                                required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="demanda">Demanda</label>
                            <input type="number" class="form-control" placeholder="Ex: 35" min="0" id="demanda-id" name="demanda" oninput="this.value = Math.abs(this.value)"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="dia">Dia</label>
                            <select name="dia" class="form-control" id="dia-timer" required>
                                <option value="" selected disabled hidden>DIA</option>
                                <option value="2">SEG</option>
                                <option value="3">TER</option>
                                <option value="4">QUA</option>
                                <option value="5">QUI</option>
                                <option value="6">SEX</option>
                                <option value="7">SAB</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="startTimer">Horário</label>
                            <select name="startTimer" class="form-control" id="start-timer" required>
                                <option value="" selected disabled hidden>HORA INICIAL</option>
                                <option value="0730">07:30</option>
                                <option value="0820">08:20</option>
                                <option value="0910">09:10</option>
                                <option value="1010">10:10</option>
                                <option value="1100">11:00</option>
                                <option value="1330">13:30</option>
                                <option value="1420">14:20</option>
                                <option value="1510">15:10</option>
                                <option value="1620">16:20</option>
                                <option value="1710">17:10</option>
                                <option value="1830">18:30</option>
                                <option value="1920">19:20</option>
                                <option value="2020">20:20</option>
                                <option value="2110">21:10</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="creditos">Créditos de aula</label>
                            <input type="number" placeholder="Ex: 4" class="form-control" name="creditos" id="creditos" min="1" max="10" oninput="this.value = Math.abs(this.value)"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="salaTurma">Tipo de sala</label>
                            <select class="form-control" id="tipo-sala-turma" name="salaTurma" required>
                                <option value="" selected disabled hidden>Escolha um tipo</option>
                            </select>
                        </div>

                    </div>
                    {{#if msg_turma}}
                        <div class="alert alert-success" id="alert" role="alert">
                            {{msg_turma}}
                        </div>
                    {{/if}}
                    <div class="row col-md-12">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value="Novo campo de horário" onclick="createNewSchedule()">
                            <input type="button" class="btn btn-primary" value="Remover campo" onclick="remove()">
                            <button type="submit" class="btn btn-success">Cadastrar turma</button>
                            <a href="/attClass" class="btn btn-warning">Atualizar Turmas</a>
                        </div>
                    </div>
                </form>
                {{#if msg_erroT}}
                    <div class="alert alert-danger" id="alert" role="alert">
                        {{msg_erroT}}
                    </div>
                {{/if}}
                {{#if msg_successT}}
                    <div class="alert alert-success" id="alert" role="alert">
                        {{msg_successT}}
                    </div>
                {{/if}}
            </div>
            </div>
        </div>

        {{!-- Card da solução --}}
        <div class="card">
            <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h4 class="myColorHeader">Gerar a solução final</h4>
                </button>
            </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p><b>ATENÇÃO!!</b><br><br>Se você preencheu todas as salas e disciplinas desejadas você está bem próximo de terminar o ensalamento, lembre-se que o sistema espera uma formatação padrão, caso ocorra algum erro entre em contato.<br><br>Todo processamento será feito e enviaremos por email o resultado final, como cada solução depende da quantidade de dados a ser manipulado a resposta não será imediato porém logo que for encontrada será enviada ao email cadastrado com o usuário.</p>
                <a href="/solucao" class="btn btn-success">Requisitar o ensalamento</a>
            </div>
            </div>
        </div>
    </div>
</div>