<div class="container-fluid">

    <h3 class="row justify-content-center mb-4">Atualização e remoção de disciplinas</h3>  
    <p>Esta página é dedicada à atualização e remoção de salas previamente cadastradas, para alterar algum dado basta clica no botar editar, trocar as informações de seus campos e confirmar no botão verde. A remoção de uma sala é feita diretamente por cada botão de sua linha, apenas clique e ela será deletada.</p>
    <div class="table-responsive">
        <table data-toggle="table" id="table" class="table table-hover table-sm text-center">
            {{#if objeto}}
            <thead>
                <tr class="d-flex">   
                    <th scope="" class="col-2">Disciplina</th>
                    <th scope="" class="col-2">Turma</th>
                    <th scope="" class="col-1">Oferta</th>
                    <th scope="" class="col-1">Demanda</th>
                    <th scope="" class="col-1">Dia</th>
                    <th scope="" class="col-1">Horário</th>
                    <th scope="" class="col-1">Créditos</th>
                    <th scope="" class="col-1">Estilo de sala</th>
                    <th scope="" class="col-2">Ação</th>
                    {{!-- <th scope="" class="col-1">Centro</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each objeto}}

                    <tr id="{{this.fase}}" class="d-flex">
                        <td class="col-2">{{this.descricao}}</td>
                        <td class="col-2">{{this.fase}}</td>
                        <td class="col-1">{{this.oferta}}</td>
                        <td class="col-1">{{this.demanda}}</td>
                        <td class="col-1">{{this.dia}}</td>
                        <td class="col-1">{{this.start}}</td>
                        <td class="col-1">{{this.creditos}}</td>
                        <td class="col-1">{{this.tipoSalaTurma}}</td>
                        <td class="col-2">
                            <a href="#" id="{{this.fase}}btn"class="btn btn-warning col-md-5" onclick="editDisciplina('{{this.fase}}')">Editar</a>
                            <!--<a href="#" id="{{this.fase}}btn"class="btn btn-danger col-md-5" onclick="removeField('{{this.fase}}')">Remover</a>-->
                            <!--<a href="#" id="{{this.fase}}btn"class="btn btn-warning col-md-5" onclick="">Editar</a>-->
                            <a href="#" id="{{this.fase}}btn"class="btn btn-danger col-md-5" onclick="">Remover</a>    
                        </td>
                        {{!-- <td class="col-1">{{this.idcentro}}</td> --}}
                    </tr>
                    
                {{/each}}
            </tbody>
            {{/if}}
        </table>
    </div>
    <a href="/" class="btn btn-primary" onclick="teste()">VOLTAR</a>
</div>