<div class="container-fluid">

    <h3 class="row justify-content-center mb-4">Atualização e remoção de salas</h3>  
    <p>Esta página é dedicada à atualização e remoção de salas previamente cadastradas, para alterar algum dado basta clica no botar editar, trocar as informações de seus campos e confirmar no botão verde. A remoção de uma sala é feita diretamente por cada botão de sua linha, apenas clique e ela será deletada.</p>
    <div class="table-responsive">
        <table data-toggle="table" id="table" class="table table-hover table-sm text-center">
            {{#if objeto}}
            <thead>
                <tr>   
                    <th scope="col">Descrição</th>
                    <th scope="col">Capacidade</th>
                    <th scope="col">Tipo da Sala</th>
                    <!--<th scope="col">ID Centro</th>-->
                    <th scope="col">Ação</th>  
                </tr>
            </thead>
            <tbody>
                {{#each objeto}}
                    <tr id="{{this.descricao}}">
                        <td>{{this.descricao}}</td>
                        <td>{{this.capacidade}}</td>
                        <td>{{this.tipoSala}}</td>
                        <!--<td>{{this.idcentro}}</td>-->
                        <td>
                            <a href="#" id="{{this.descricao}}btn"class="btn btn-warning col-md-5" onclick="editField('{{this.descricao}}')">Editar</a>
                            <a href="#" id="{{this.descricao}}btn"class="btn btn-danger col-md-5" onclick="">Remover</a>    
                        </td>
                    </tr>
                    
                {{/each}}
            </tbody>
            {{/if}}
        </table>
    </div>
    <a href="/" class="btn btn-primary" onclick="teste()">VOLTAR</a>
</div>
<!-- <div class="modal fade" id="{{this.descricao}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/roomUpdate" method="POST">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Descrição</label>
                                        <input type="text" class="form-control" name="descricao" id="descricao-name" value="{{this.descricao}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Capacidade</label>
                                        <input type="text" class="form-control" name="capacidade" id="capacidade" value="{{this.capacidade}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Tipo sala</label>
                                        <input type="text" class="form-control" name="tipoSala" id="tipoSala" value="{{this.tipoSala}}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>-->